In [24]:
import pandas as pd
import json

In [3]:
metadata_df = pd.read_csv("Belly_Button_Biodiversity_Metadata.csv")
BB_list = metadata_df['SAMPLEID'].tolist()
BB_list2=[]
for i in BB_list:
    i = "BB_"+str(i)
    BB_list2.append(i)

In [22]:
otudata_df = pd.read_csv('belly_button_biodiversity_otu_id.csv')
OTU_list = otudata_df['lowest_taxonomic_unit_found'].tolist()

In [38]:
metadict={}
metadata_df = pd.read_csv("Belly_Button_Biodiversity_Metadata.csv")
some_id = 941
test_bb = metadata_df['SAMPLEID']== some_id
small_meta =metadata_df[test_bb]
Age = small_meta['AGE'].values[0]
BBType = small_meta['BBTYPE'].values[0]
Ethnicity = small_meta['ETHNICITY'].values[0]
Gender = small_meta['GENDER'].values[0]
Location = small_meta['LOCATION'].values[0]
SampleID = small_meta['SAMPLEID'].values[0]

metadict["AGE"]=str(Age)
metadict['BBTYPE']=str(BBType)
metadict['ETHNICITY']=str(Ethnicity)
metadict['GENDER']=str(Gender)
metadict['LOCATION']=str(Location)
metadict['SAMPLEID']=int(SampleID)

meta = json.dumps(metadict)
metajson = json.loads(meta)

In [60]:
meta = json.dumps(metadict)
metajson = json.loads(meta)

In [66]:
metadata_df = pd.read_csv("Belly_Button_Biodiversity_Metadata.csv")
some_id = 941
test_bb = metadata_df['SAMPLEID']== some_id
small_meta =metadata_df[test_bb]
WFREQ = int(small_meta['WFREQ'].values[0])

In [72]:
sampledata_df = pd.read_csv("belly_button_biodiversity_samples.csv")
some_id = 940
full_id = "BB_"+str(some_id)

In [88]:
bb = sampledata_df[['otu_id',full_id]]

In [94]:

remove_zero = bb[full_id]!=0

In [100]:
nonzero_bb = bb[remove_zero]
nonzero_bb.sort_values('BB_940',ascending=False)
nonzero_bb.reset_index(drop=True)
top_ten_bact = nonzero_bb.head(10)

      otu_id  BB_940
1166    1167   163.0
2858    2859   126.0
481      482   113.0
2263    2264    78.0
40        41    71.0
1188    1189    51.0
351      352    50.0
188      189    47.0
1976    1977    40.0
2317    2318    40.0
3449    3450    37.0
873      874    36.0
1958    1959    30.0
2190    2191    28.0
1949    1950    25.0
2076    2077    23.0
2274    2275    22.0
2183    2184    19.0
943      944    19.0
2243    2244    14.0
2810    2811    13.0
2023    2024    13.0
2418    2419    13.0
164      165    12.0
2781    2782    12.0
2395    2396    11.0
2010    2011    11.0
2246    2247    11.0
2963    2964    10.0
1794    1795    10.0
...      ...     ...
1983    1984     1.0
1990    1991     1.0
1996    1997     1.0
2035    2036     1.0
2039    2040     1.0
2050    2051     1.0
2053    2054     1.0
1500    1501     1.0
1494    1495     1.0
853      854     1.0
1483    1484     1.0
865      866     1.0
880      881     1.0
918      919     1.0
921      922     1.0
1093    1094     1.0
1114    1115     1.0
1154    1155     1.0
1158    1159     1.0
1173    1174     1.0
1178    1179     1.0
1190    1191     1.0
1198    1199     1.0
1216    1217     1.0
1222    1223     1.0
1226    1227     1.0
1242    1243     1.0
1253    1254     1.0
3452    3453     1.0
3461    3462     NaN

[215 rows x 2 columns]

In [96]:
nonzero_bb

      otu_id  BB_940
10        11     1.0
18        19     1.0
21        22     1.0
23        24     1.0
38        39     1.0
40        41    71.0
41        42     1.0
78        79     1.0
80        81     1.0
83        84     1.0
92        93     1.0
101      102     1.0
120      121     2.0
121      122     1.0
132      133     1.0
153      154     1.0
158      159     2.0
164      165    12.0
169      170     2.0
184      185     1.0
188      189    47.0
197      198     1.0
225      226     1.0
234      235     1.0
243      244     1.0
245      246     1.0
257      258     2.0
258      259     2.0
299      300     1.0
306      307     7.0
...      ...     ...
2749    2750     1.0
2751    2752     1.0
2752    2753     1.0
2757    2758     1.0
2781    2782    12.0
2794    2795     1.0
2810    2811    13.0
2819    2820     1.0
2828    2829     1.0
2836    2837     1.0
2839    2840     1.0
2851    2852     1.0
2858    2859   126.0
2872    2873     1.0
2875    2876     1.0
2907    2908     7.0
2914    2915     1.0
2916    2917     1.0
2935    2936     3.0
2948    2949     1.0
2963    2964    10.0
2967    2968     1.0
2984    2985     1.0
2988    2989     1.0
2993    2994     1.0
3426    3427     1.0
3438    3439     1.0
3449    3450    37.0
3452    3453     1.0
3461    3462     NaN

[215 rows x 2 columns]